<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>変更確認</title>
<script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
<script type="text/javascript">

//予約ID
var reservationid={$reservation["id"]};

	$(document).ready(function() {
		//予約登録用のフォームを読み込む
		$.ajax({
			url : "/api/record/reservation_form",
			type : "get",
			data : {
				title : "予約変更",
			}
		}).done(function(data) {

			//もし、フォームがすでに表示されていた場合
			//フォームの入力内容が取れるはずなのでそれをキープする

			// 開始時間のデータ
			var syear = $("#syear").val() ? $("#syear").val() : -1000;
			var smonth = $("#smonth").val() ? $("#smonth").val() : -1001;
			var sday = $("#sday").val() ? $("#sday").val() : -1002;
			var shour = $("#shour").val() ? $("#shour").val() : -1003;
			var sminute = $("#sminute").val() ? $("#sminute").val() : -1004;

			// 終了時間のデータ
			var eyear = $("#eyear").val() ? $("#eyear").val() : -2000;
			var emonth = $("#emonth").val() ? $("#emonth").val() : -2001;
			var eday = $("#eday").val() ? $("#eday").val() : -2002;
			var ehour = $("#ehour").val() ? $("#ehour").val() : -2003;
			var eminute = $("#eminute").val() ? $("#eminute").val() : -2004;

			//フォームを出力
			$("#reservation_form").html(data);

			//スクロール
			//$(window).scrollTop($("#reservation_form").offset().top);

			//フォーム入力内容の引き継ぎ
			$("#syear").val(syear);
			$("#smonth").val(smonth);
			$("#sday").val(sday);
			$("#shour").val(shour);
			$("#sminute").val(sminute);
			$("#eyear").val(eyear);
			$("#emonth").val(emonth);
			$("#eday").val(eday);
			$("#ehour").val(ehour);
			$("#eminute").val(eminute);

			// イベント追加
			$("#reservation_create").click(function() {
				$.ajax({
					url : "/api/record",
					type : "put",
					data : {
						// 開始時間のデータ
						syear : $("#syear").val() ? $("#syear").val() : -1000,
						smonth : $("#smonth").val() ? $("#smonth").val() : -1001,
						sday : $("#sday").val() ? $("#sday").val() : -1002,
						shour : $("#shour").val() ? $("#shour").val() :-1003,
						sminute : $("#sminute").val() ?$("#sminute").val() :-1004,

						// 終了時間のデータ
						eyear : $("#eyear").val() ? $("#eyear").val() : -2000,
						emonth:$("#emonth").val() ? $("#emonth").val() : -2001,
						eday:$("#eday").val() ? $("#eday").val() : -2002,
						ehour:$("#ehour").val() ? $("#ehour").val() :-2003,
						eminute: $("#eminute").val() ?$("#eminute").val() :-2004,

						//予約ID
						reservationid : reservationid
					}
				}).done(function(message) {

					//予約実行結果を表示する
					$("#reservation_message").html(message);

				})
			})

		})
	})


</script>
<style>
.delete {
	padding: 10px;
	font-size: 20pt;
}
</style>
</head>
<body>
	<p>以下の予約を変更します。</p>
	<p>予約ID : {$reservation["id"]}</p>
	<p>予約日時 : {$reservation["createtime"]}</p>
	<p>予約者 : {$reservation["username"]}</p>
	<p>開始 : {$reservation["start"]}</p>
	<p>終了 : {$reservation["end"]}</p>
	<div id="reservation_form"></div>
	<a href="/yoyaku">トップページへ戻る</a>
</body>
</html>