<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>削除確認</title>
<style>
.delete {
	padding: 10px;
	font-size: 20pt;
}
</style>
<script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
<script type="text/javascript">

//予約IDを控える
var reservationid = {$reservation["id"]};

	$(document).ready(function() {
		//クリックに仕込む
		$("#delete").click(function() {
			$.ajax({
				url : "/api/record",
				type : "del",
				data :{
					reservationid : reservationid
				}
			}).done(function(message) {
				$("#delete_message").html(message);
			})
		})
	})
</script>
</head>
<body>
	<p>本当に以下の予約を削除しますか？</p>
	<p>予約ID : {$reservation["id"]}</p>
	<p>予約日時 : {$reservation["createtime"]}</p>
	<p>予約者 : {$reservation["username"]}</p>
	<p>開始 : {$reservation["start"]}</p>
	<p>終了 : {$reservation["end"]}</p>
	<div id="delete_message"></div>
	<button class="delete" id="delete">削除</button>
	<br>
	<br>
	<a href="/yoyaku">トップページへ戻る</a>
</body>
</html>