<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>予約管理ページ</title>
<style>
.delete {
	color: red;
}
</style>
<script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
<script type="text/javascript" src="/js/my_event.js"></script>
</head>
<body>
	{include file="yoyaku/changelanguage.html"}
	<h1>予約管理ページ</h1>
	<p>こんにちは {$username} さん</p>
	<br>
	<p>
		<a href="/yoyaku/profile/">アカウント設定</a>
	</p>
	<br>
	<br>
	<form action="/yoyaku/logout/" method="post" accept-charset="utf-8">
		<input type="submit" value="ログアウト">
	</form>
	<hr>
	<h2>予約品目一覧</h2>
	<p>{$create_goods_error}</p>
	<form action="/yoyaku/creategoods/" method="post"
		accept-charset="utf-8">
		<input type="text" name="title"> <input type="hidden"
			name="check" value="1"> <input type="submit" value="新規作成">
	</form>
	<br>
	<br> {for $i=0 to (count($goodslist)-1)}
	<p>
		<a class="hinmoku_click" href="javascript:void(0)"
			id="goods_{$goodslist[$i]['id']}">{$goodslist[$i]["id"]}:{$goodslist[$i]["name"]}</a>
	</p>
	{/for}
	<hr>

	<div id = "reservation_form"></div>

	<div id="reservation_list"></div>

	{if $currentgoodsid > 0}
	<hr>
	<h2>コメント : {$currentgoodsname}</h2>
	{$comment_error}
	<form action="/yoyaku/createcomment" method="post"
		accept-charset="utf-8">
		<textarea rows="10" cols="60" name="comment"></textarea>
		<input type="hidden" name="check" value="1"> <input
			type="submit" value="書き込み">
	</form>
	<hr>
	{for $i=0 to (count($commentlist)-1)}
	<p>ユーザー名 : {$commentlist[$i]["username"]}
		({$commentlist[$i]["createtime"]})</p>
	<p>{$commentlist[$i]["comment"]}</p>
	{/for}
	{/if}
</body>
</html>