<h2>新規予約</h2>
<div id="reservation_message"></div>
<form action="javascript:void(0)" method="post" accept-charset="utf-8"
	id="reservation_main_form">
	予約開始日時 : <select id="syear">
		<option value="2016" >2016</option>
		<option value="2017" >2017</option>
		<option value="2018" >2018</option>
		<option value="2019" >2019</option>
		<option value="2020" >2020</option>
	</select>年 <SELECT id="smonth">
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
	</SELECT> 月 <SELECT id="sday">
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
		<option value="13" >13</option>
		<option value="14" >14</option>
		<option value="15" >15</option>
		<option value="16" >16</option>
		<option value="17" >17</option>
		<option value="18" >18</option>
		<option value="19" >19</option>
		<option value="20" >20</option>
		<option value="21" >21</option>
		<option value="22" >22</option>
		<option value="23" >23</option>
		<option value="24" >24</option>
		<option value="25" >25</option>
		<option value="26" >26</option>
		<option value="27" >27</option>
		<option value="28" >28</option>
		<option value="29" >29</option>
		<option value="30" >30</option>
		<option value="31" >31</option>
	</select>日 <select id="shour">
		<option value="00" >0</option>
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
		<option value="13" >13</option>
		<option value="14" >14</option>
		<option value="15" >15</option>
		<option value="16" >16</option>
		<option value="17" >17</option>
		<option value="18" >18</option>
		<option value="19" >19</option>
		<option value="20" >20</option>
		<option value="21" >21</option>
		<option value="22" >22</option>
		<option value="23" >23</option>
	</select> 時 <select id="sminute">
		<option value="00" >00</option>
		<option value="10" >10</option>
		<option value="20" >20</option>
		<option value="30" >30</option>
		<option value="40" >40</option>
		<option value="50" >50</option>
	</select> 分 <br> 予約終了日時 : <select id="eyear">
		<option value="2016" >2016</option>
		<option value="2017" >2017</option>
		<option value="2018" >2018</option>
		<option value="2019" >2019</option>
		<option value="2020" >2020</option>
	</select>年 <SELECT id="emonth">
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
	</SELECT> 月 <SELECT id="eday">
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
		<option value="13" >13</option>
		<option value="14" >14</option>
		<option value="15" >15</option>
		<option value="16" >16</option>
		<option value="17" >17</option>
		<option value="18" >18</option>
		<option value="19" >19</option>
		<option value="20" >20</option>
		<option value="21" >21</option>
		<option value="22" >22</option>
		<option value="23" >23</option>
		<option value="24" >24</option>
		<option value="25" >25</option>
		<option value="26" >26</option>
		<option value="27" >27</option>
		<option value="28" >28</option>
		<option value="29" >29</option>
		<option value="30" >30</option>
		<option value="31" >31</option>
	</select>日 <select id="ehour">
		<option value="00" >0</option>
		<option value="01" >1</option>
		<option value="02" >2</option>
		<option value="03" >3</option>
		<option value="04" >4</option>
		<option value="05" >5</option>
		<option value="06" >6</option>
		<option value="07" >7</option>
		<option value="08" >8</option>
		<option value="09" >9</option>
		<option value="10" >10</option>
		<option value="11" >11</option>
		<option value="12" >12</option>
		<option value="13" >13</option>
		<option value="14" >14</option>
		<option value="15" >15</option>
		<option value="16" >16</option>
		<option value="17" >17</option>
		<option value="18" >18</option>
		<option value="19" >19</option>
		<option value="20" >20</option>
		<option value="21" >21</option>
		<option value="22" >22</option>
		<option value="23" >23</option>
	</select> 時 <select id="eminute">
		<option value="00" >00</option>
		<option value="10" >10</option>
		<option value="20" >20</option>
		<option value="30" >30</option>
		<option value="40" >40</option>
		<option value="50" >50</option>
	</select> 分 <br> <input type="submit" value="予約作成" id="reservation_create">
</form>
<hr>
