<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<style>
input#submit_button {
	padding: 10px 5px;
	font-size: 1.2em;
}
</style>
</head>
<body>
	<h1>ログイン</h1>
	<form action="/bbs/login" method="post" accept-charset="utf-8">
		<table>
			<tr>
				<th>ユーザー名</th>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password"></td>
			</tr>
		</table>

		<input id="submit_button" type="submit" value="ログイン">

	</form>
	<h2><a href = "/bbs/register">新規登録</a></h2>
</body>
</html>