<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>楽しいユーザー登録</title>
</head>
<body>
<h1>ユーザー登録</h1>
{php} echo validation_errors(); {/php}
{$myerrormessage}
	<form action="/yoyaku/createuser/" method="post" accept-charset="utf-8">
		<table>
			<tr>
				<th>ユーザー名</th>
				<td><input type="text" name="username" value="{php} echo set_value('username'); {/php}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<input type="hidden" name = "check" value="1">
		<input type="submit" value="登録">

	</form>

	<p><a href="/yoyaku/">トップページへ戻る</a></p>
</body>
</html>