<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー情報の変更</title>
<style>
input#delete_button {
	background-color: #000;
	color: #fff;
}
</style>
</head>
<body>
	ユーザー名 [ {$username} ] さん
	<br>
	<p>
		<a href="/yoyaku">トップページへ戻る</a>
	</p>
	<p>パスワードの変更</p>
	{php} echo validation_errors(); {/php}
	<form action="/yoyaku/changepassword" method="post" accept-charset="utf-8">
		<table>
			<tr>
				<th>新しいパスワード</th>
				<td><input type="password" name="newpassword"></td>
			</tr>
		</table>
		<input type="hidden" name="check" value="1"><br> <input
			type="submit" name="pass" value="パスワード更新">
	</form>
	<br>
	<br>
	<p>ユーザーの削除</p>
	<form action="/yoyaku/deleteuser" method="post" accept-charset="utf-8">
	{$myerrormessage}
		<table>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password"></td>
			</tr>
		</table>
		<input type="hidden" name="check" value="1">
		<input type="submit" id="delete_button" name="delete" value="ユーザーの削除">
	</form>

</body>
</html>