<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>削除確認</title>
<style>
.delete{
	padding:10px;
	font-size:20pt;
}
</style>
</head>
<body>
<p>本当に以下の予約を削除しますか？</p>
		<p>予約ID : {$reservation["id"]}</p>
		<p>予約日時 : {$reservation["createtime"]}</p>
		<p>予約者 : {$reservation["username"]}</p>
		<p>開始 : {$reservation["start"]}</p>
		<p>終了 : {$reservation["end"]}</p>
	<form action="/yoyaku/deletereservation/" method="post" accept-charset="utf-8">
		<input type="hidden"	name="check" value="1">
		<input type="hidden" name = "reservationid" value="{$reservation['id']}">
		<input type="submit" value="削除" class="delete">
	</form>
<br>
<a href="/yoyaku">トップページへ戻る</a>
</body>
</html>